{% extends "layout.html" %}
{% block content %}
<div class="topnav">
    <a class="active" href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/resources">Resources</a>
</div>

<div id="home">
    <h1>Windsor Coding Club</h1>
    <p><img class="w-logo" src="{{ url_for('static', filename='img/WindsorLogo.png') }}" alt="Windsor Crest"/></p>
    <p>Are you interested in coding? The Coding Club is a place where you can learn code, or improve your skills at your own pace, while learning from everyone around you.</p>
    <p>If you're interested come by for a meeting and see if you like it. We meet <b>Thursdays</b> at lunch in <b>room 205</b>.</p>
    <p>The Windsor Coding Club is proudly partnered with the <a class="link" href="Windsor-STEM-Club.html">Windsor STEM Club</a>.</p>
</div>
<div id="about-us">
    <h1>About Us</h1>
    <p><img class="w-logo" src="{{ url_for('static', filename='img/WindsorLogo.png') }}" alt="Windsor Crest"/></p>
    <p>We are the Windsor Coding Club. A place where you can hang out and talk about code. Don't worry if you don't know anything about code yet, most of us only know one or two coding languages and are still a while away from mastering any language. Even this page is designed and developed by people using HTML and CSS for the first time.</p>
    <p>Founded by Burke Rudelsheim and Felix Stock</p>
    <p>Teacher Sponser: Ms. Sihota</p>
</div>
{% endblock %}
